@font-face {
    font-family: "Suprema";
    src: url("../fonts/Suprema-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SupremaSemiBold";
    src: url("../fonts/Suprema-SemiBold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}