:root {
    --sidebar-sprite: #C7C7C7;
}

$base_color: #197BBD;
$yellow: #FFC145;
$progress_bar_color: #F1F1F1;

$text_primary: #404040;
$text_light: #A0A0A0;
$text_gray: #AEAEAE;
$text_light_gray: #C7C7C7;

$border_radius: 19px;